{% extends 'hashtagmovies/basic.html' %}
{% block title %} {{post.title}} {% endblock %}
{% block css %}

body {
    font-family: Sofia;
    color: #fff;
}
.container {
    text-align: center;
}
.post-content-body h1::after{
    content: '';
    position: absolute;
    display: block;
    width: 200px;
    height: 1px;
    background: #ffcf88;
<!--    bottom: 0;-->
 align-item: center;
    left: calc(50% - 100px);
}

.heading h4::after{
    content: '';
    position: absolute;
    display: block;
    width: 200px;
    height: 1px;
    background: #ffcf88;
<!--    bottom: 0;-->
 align-item: center;
    left: calc(50% - 100px);
}

.main-content{
    font-family: Muli;
    color: #fff;
}


  {% endblock %}

{% block search %}
<div class="container">
          <nav class="navbar navbar-dark py-1 mb-2" style="background-color: #333;">
              <a class="navbar-brand"><h3>Search Over Million</h3></a>
  <form method="get" action="/search" class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" id="query" name="query" aria-label="Search">
    <button class="btn btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
      </div>
{% endblock %}
{% block body %}
{% load static %}


<!--<div class="container" >-->
<!--<hr class="featurette-divider">-->
<!--</div>-->
<!--<div class="container">-->
<!--<div class="row featurette">-->
<!--        <h2 class="featurette-heading">{{post.title}}</h2>-->
<!--        <p class="lead">{{post.plot_outline}}.</p>-->
<!--    </div>-->
<!--          <img src="{{post.full_size_cover_url}}" width="100%" height="100%" alt="{{post.title}}">-->


<!--    {% if post.plot %}-->
<!--      <h2 class="featurette-heading">Main Content</h2>-->

<!--        <p class="lead">{{post.plot}}.</p>-->
<!--    {% endif %}-->
<!--</div>-->

<section class="site-section py-lg mt-5">
<div class="container">
<div class="row blog-entries element-animate">
<div class="col-md-12 col-lg-8 main-content">
<div class="post-content-body">
<h1 style="color:#fff;">{{ post.title }}</h1>
<div class="row mb-5 mt-5">
<div class="col-md-6 mx-auto">
<img src="{{post.full_size_cover_url}}" alt="Image placeholder" class="img-fluid rounded">
</div>

</div>
    <div class="pt-5">
    <h5>{{post.genres}}</h5>
    <h5>Cast: {{post.cast|truncatechars:100}}</h5>
    <h5>Runtime: {{post.runtimes}} minutes</h5>
    <h5>Countries: {{post.countries}}</h5>
    <h5>Box Office Collection: {{post.box_office}}</h5>
        {% if post.air_date %}
    <h5>AirDate: {{post.air_date}}</h5>
        {% endif %}
    {% if post.rating %}
    <h5>Rating: {{post.rating}}</h5>
     {% endif %}
    <h5>Votes: {{post.votes}}</h5>
    <h5>Languages: {{post.languages}}</h5>
    <h5>Year: {{post.year}}</h5>
    <h5>Directors: {{post.director}}</h5>
</div>
    <h5 style="font-style:Muli;">{{post.plot_outline}}</h5>
<p>{{post.plot}}</p>
</div>
</div>

<div class="col-md-12 col-lg-4 sidebar">


<div class="sidebar-box">
<!--<h3 class="heading">Popular Posts</h3>-->
<div class="post-entry-sidebar">
<h3 class="heading my-5" style="color:#a6a6a6;">Related Genres</h3>

    {% for i in relatedPosts %}
<img src="{{i.full_size_cover_url}}" width="200px" height="250px" alt="{{i.title}}" class="mx-4">
<div class="text" style="color:#e2e2e2;">
<a href="/moviepost/{{i.movie_id}}" style="color:#fff;">
<h4 style="color:#fff;">{{i.title}}</h4>
</a>
    <div class="post-meta">
<span class="mr-2">{{i.genres}} </span>
</div>
</div>
    <br>
   {% endfor %}
    <h3 class="heading my-5" style="color:#a6a6a6;">Recently Added</h3>

    {% for i in latestPosts %}
    {% if i.full_size_cover_url %}
<img src="{{i.full_size_cover_url}}" width="200px" height="250px" alt="{{i.title}}" class="mx-4">
    {% else %}
    <img src="{{i.cover_url}}" width="200px" height="250px" alt="{{i.title}}" class="mx-4">
{% endif %}
        <a href="/moviepost/{{i.movie_id}}">
<h4 style="color:#fff;">{{i.title}}</h4>
</a>
<div class="post-meta">
<span class="mr-2">{{i.genres}} </span>
</div>
</div>
    <br>
   {% endfor %}

<!---->
</div>
</div>


</div>

</div>
</div>
</section>


{% endblock %}
